{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <title>Selamat,Datang!</title>
  <style>
    section{
      min-height: 600px;
    }
  </style>
    
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body class="mt-5">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:#AA0534">
    <div class="container">
      <a class="navbar-brand" href ="{% url 'index' %}">Aji Inisti</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" role="tab" href ="{% url 'index' %}">Beranda <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="{% url 'keterampilan' %}">Keterampilan</a>
          <a class="nav-item nav-link" href="{% url 'pengalaman' %}" >Pengalaman</a>
          <a class="nav-item nav-link" href="{% url 'tentangsaya' %}" >Tentang Saya</a>
          <a class="nav-item nav-link" href="{% url 'jadwal' %}" >Jadwal</a>
        </div>
      </div>
    </div>
  </nav>
    {% block body %}
    {% endblock body %}
  
    <div class="container text-center">
      <h6 class="mb-4">Mari terhubung dengan saya</h6>
      <a href="https://web.facebook.com/ajiinisti.udmawijaya"><img border="0" alt="Facebook" src="{% static 'images/facebook.png'%}" width="30" height="30" style="margin-right:10px"></a>
      <a href="https://www.dicoding.com/users/450280"><img border="0" alt="Dicoding" src="{% static 'images/dicoding.png'%}" width="30" height="30" style="margin-right:10px"></a>
      <a href="https://www.linkedin.com/in/aji-inisti-udma-wijaya-60a388142/"><img border="0" alt="LinkedIn" src="{% static 'images/linkedin.png'%}" width="30" height="30" style="margin-right:10px"></a>
      <a href="https://gitlab.com/ajiinisti/my-first-repo"><img border="0" alt="Gitlab" src="{% static 'images/gitlab.png'%}" width="30" height="30" style="margin-right:10px"></a>
      <p class="mt-4">Aji Inisti Udma Wijaya © 2019</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
    