{% extends 'base.html' %}
{% load static %}
<html>
    {% block body %}
    <section id = "jadwal" class= "jadwal mt-5">
      <div>
        
      </div>
        <form method ="POST">
        {% csrf_token %}
        {{generated_formulir.as_p}} <br>
        <input type="submit" value = "Masukkan">
        <table style="width:100%">
            <tr>
              <th>Nama Kegiatan</th>
              <th>Tempat</th> 
              <th>Tanggal</th>
              <th>Waktu</th>
              <th>Deskripsi</th>
              <th>Hapus Kegiatan</th>
            </tr>
        {% for i in generated_model %}
            <tr>
              <td>{{i.nama}}</td>
              <td>{{i.tempat}}</td>
              <td>{{i.tanggal}}</td>
              <td>{{i.waktu}}</td>
              <td>{{i.deskripsi}}</td>
              <td><a href="{% url 'hapus' i.id %}"><button type="button" class="btn btn-warning"> HAPUS SAYA</button></a><br></td>
            </tr>
        {% endfor %}
        </table>
        </form>
    </section>
    {% endblock body %}
</html>

