{% extends 'base.html' %}
{% load static %}

<html lang="en">

{% block body %}

 <section id="keterampilan" class="keterampilan ">
    <div class="container mt-5">
      <div class="row mb-4">
        <div class="col text-center">
          <h2>Keterampilan</h2>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5>Teknis</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Programming
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">Python</li>
                      <li class="list-group-item">Java</li>
                      <li class="list-group-item">Kotlin</li>
                      <li class="list-group-item">CSS</li>
                      <li class="list-group-item">HTML</li>
                  </ul>
              </li>
              <li class="list-group-item">Microsoft Office
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">Word</li>
                      <li class="list-group-item">Excel</li>
                      <li class="list-group-item">Power Point</li>
                  </ul>
              </li>
          </ul>
        </div>

        <div class="col">
          <h5>Nonteknis</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Kerjasama</li>
            <li class="list-group-item">Manajemen Waktu</li>
            <li class="list-group-item">Kritis</li>
            <li class="list-group-item">Berkomunikasi dengan baik</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  {% endblock body %}
